{% load static %}
{% load i18n %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div><p>links:</p>
    <ul>
        <li>
            <a href="{% url 'subjects' %}">Subjects</a>
        </li>
        <li>
            <a href="{% url 'teachers' %}">Teachers</a>
        </li>
        <li>
            <a href="{% url 'students' %}">Students</a>
        </li>
    </ul>
</div>

{% block context %}
{% endblock %}

</body>
</html>
