{% extends 'blog/base.html' %}

{% csrf_token %}

{% block title %}
    Welcome to the Personal Tutor Helper App.
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        We let students find teachers easily.
                    </h5>
                    <h6>
                        This web-site lets connect students and teachers.<br>
                        Currenty we support following subjects:<br>
                        <ul>
                            <li class="list-item">
                                <a class="nav-link" href={% url 'subjects' %}>Check out the full list of subjects</a>
                            </li>
                        </ul>
                    </h6>
                    <a class="nav-link" href={% url 'subjects' %}>You are welcome to register and use our service for free</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
