{% load static %}
{% csrf_token %}
{% block navigation %}
    <nav>
        <div class="row" style="background: #f8f9fa;">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href={% url 'index' %}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'teachers' %}>Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'students' %}>Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'subjects' %}>Subjects</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'userprofile' %}>{{ user.username }}</a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href={% url 'logout' %}>Logout</a>#}
{#                        </li>#}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'signin' %}>Signin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'signup' %}>Signup</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
