{% extends 'blog/base.html' %}
{% csrf_token %}

{% block title %}
    Subjects Page
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>
                h3. Lorem ipsum dolor sit amet.
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        {% for subject in subjects %}
                        <li class="list-item">
                            {{ subject }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
