{% extends 'blog/base.html' %}
{% csrf_token %}

{% block pagetitle %}
    Tutor List Page
{% endblock %}
{% block title %}
    Tutor List
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        Following tutors are currently active:
                    </h5>
                    <h6>
                        <ul>
                            {% for teacher in teachers %}
                            <li class="list-item">
                                {{ teacher }}
                            </li>
                            {% endfor %}
                        </ul>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


